{% extends "base.html" %}

{% block body %}

{% if messages %}
<div class="alert alert-success">
    {% for message in messages %}
        {{ message }}
    {% endfor %}
</div>
{% endif %}

<h3 class="m-4">New Sales</h3>

<div class="row">
    <div class="col-12">
        {% if employees %}
        <div class="card bg-light ms-4 me-4 mb-4">
            <div class="card-header"></div>
            <div class="card-body">
                <p class="card-text">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Customer</th>
                                <th scope="col">Date</th>
                                <th scope="col">Total Cost</th>
                                <th scope="col">Status</th>  
                            </tr>
                            </thead>
                            <tbody>
                                {% for sales in sale %}
                                <tr>
                                    <td>{{ sale.id }}</td>
                                    <td>{{ sale.customer }}</td>
                                    <td>{{ sale.date }}</td>
                                    <td>{{ sale.total_cost }}</td>
                                    <td>{{ sale.status }}</td>
                                    <td>
                                        <!-- Edit Button -->
                                        <a href="{% url 'product_edit' product.id %}" class="btn btn-warning btn-sm">Edit</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </p>
            </div>
        </div>

        {% else %}
        <h5 class="alert alert-primary ms-4 me-4"> No Sales Records </h5>
        {% endif %}
    </div>
</div> 

{% endblock %}




